<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlBAW5_HuXRm05OQR_OZ11qrhP11M-lMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>185516775070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kei.CoffeeMeets</string>
	<key>PROJECT_ID</key>
	<string>coffeeshare-75597</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeshare-75597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185516775070:ios:cc0e10e7f36c2774488d8f</string>
</dict>
</plist>